html {
  height: 100%;
}

body {
  background: #eeedec;
  letter-spacing: .2em;
  font-size: .8em;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 400px;
}

.icon {
  position: relative;
  top: -50px;
  width: 100px;
  margin-bottom: -50px;
  border-radius: 50%;
}
